@use "sass:color";

/* Colors */
$background: #21252c28;
/* background: hsl(218, 15%, 15%)*/
$background-2: #2020204f;
/* card: hsl(0, 0%, 13%)*/
$background-3: #363D494f;
/* background-light: hsl(218, 15%, 25%)*/
$primary: #3979eb;
/* primary: hsl(218, 82%, 57%)*/
$secondary: #eb308f;
/* secondary: hsl(330, 82%, 55%)*/
$text: #cad3f5;
/* text: hsl(227, 68%, 88%)*/
$subtext: #a0a7be;
/* subtext: hsl(227, 19%, 69%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff;
$shadow: #999999;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/



@import "../glaciara.scss";
@import "../style.scss";
