@use "sass:color";

/* Colors */
$background: #2c2621;
/* background: hsl(27, 15%, 15%)*/
$background-trans: #2c2621;
$background-2: #202020;
/* background-2: hsl(0, 0%, 13%)*/
$background-3: #493f36;
/* background-3: hsl(0, 0%, 25%)*/
$primary: #e06f12;
/* primary: hsl(27, 85%, 47%)*/
$secondary: #12de52;
/* secondary: hsl(139, 85%, 47%)*/
$text: #f5decc;
/* text: hsl(27, 68%, 88%)*/
$subtext: #bfaea1;
/* subtext: hsl(27, 19%, 69%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff;
$shadow: #999999;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/

@import "../frolic.scss";
@import "../style.scss";
