@use "sass:color";

/* Colors */
$background: #edf4ec;
/* background: hsl(114, 25%, 94%)*/
$background-trans: #e0ecdf;
$background-2: #e0ecdf;
/* card: hsl(114, 25%, 90%)*/
$background-3: #f5f6f9;
/* background-light: hsl(27, 15%, 83%)*/
$primary: #26e012;
/* primary: hsl(114, 85%, 47%)*/
$secondary: #1242de;
/* secondary: hsl(226, 85%, 47%)*/
$text: #562f10;
/* text: hsl(27, 69%, 20%)*/
$subtext: #766251;
/* subtext: hsl(27, 19%, 39%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff;
$shadow: #999999;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/

@import "../zephyr.scss";
@import "../style.scss";
