@use "sass:color";

/* Colors */
$background: #50494F;
/* background: hsl(311, 5%, 30%)*/
$background-trans: #433D42;
$background-2: #433D42;
/* background-2: hsl(311, 5%, 25%)*/
$background-3: #704367;
/* background-3: hsl(311, 25%, 35%)*/
$primary: #E012BA;
/* primary: hsl(311, 85%, 47%)*/
$secondary: #12E0AC;
/* secondary: hsl(165, 85%, 47%)*/
$text: #F5CCED;
/* text: hsl(311, 68%, 88%)*/
$subtext: #BFA1B9;
/* subtext: hsl(311, 19%, 69%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff7e;
$shadow: #000000;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/

@import "../verdant.scss";
@import "../spicetify.scss";
