@use "sass:color";

/* Colors */
$background: #505049;
/* background: hsl(54, 5%, 30%)*/
$background-trans: #43423D;
$background-2: #43423D;
/* background-2: hsl(54, 5%, 25%)*/
$background-3: #706B43;
/* background-3: hsl(115, 25%, 35%)*/
$primary: #E0CB12;
/* primary: hsl(54, 85%, 47%)*/
$secondary: #DE12D7;
/* secondary: hsl(302, 85%, 47%)*/
$text: #f5decc;
/* text: hsl(27, 68%, 88%)*/
$subtext: #bfaea1;
/* subtext: hsl(27, 19%, 69%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff7e;
$shadow: #000000;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/

@import "../zephyr.scss";
@import "../style.scss";
