@use "sass:color";

/* Colors */
$background: #f0edea;
/* background: hsl(27, 15%, 93%)*/
$background-trans: #f0edea;
$background-2: #f2f2f2;
/* card: hsl(0, 0%, 95%)*/
$background-3: #dad3cd;
/* background-light: hsl(27, 15%, 83%)*/
$primary: #de6e12;
/* primary: hsl(27, 85%, 47%)*/
$secondary: #12de52;
/* secondary: hsl(139, 85%, 47%)*/
$text: #562f10;
/* text: hsl(27, 69%, 20%)*/
$subtext: #766251;
/* subtext: hsl(27, 19%, 39%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff;
$shadow: #999999;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/

@import "../frolic.scss";
@import "../style.scss";
