/* Fonts */
$monospace_font: "Monaspace Neon";
$h1_font: "Monaspace Radon";
$h2_font: "Monaspace Radon";
$h3_font: "Monaspace Xenon";
$paragraph_font: "Monaspace Xenon";
$subtext_font: "Monaspace Xenon";
$monospace_weight: 500;
$h1_weight: normal;
$h2_weight: normal;
$h3_weight: bold;
$paragraph_weight: 300;
$subtext_weight: 100;
$monospace_size: 14px;
$h1_size: 24px;
$h2_size: 18px;
$h3_size: 16px;
$paragraph_size: 14px;
$subtext_size: 11px;

/* General */
$transition: 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
$primary-radius: 30px;
$secondary-radius: 30px;
$tertiary-radius: 15px;
$background_gradient: linear-gradient(145deg, $background, $background);
$text-shadow:
    2px 2px 0 $background-2,
    2px -2px 0 $background-2,
    -2px 2px 0 $background-2,
    -2px -2px 0 $background-2,
    2px 0px 0 $background-2,
    0px 2px 0 $background-2,
    -2px 0px 0 $background-2,
    0px -2px 0 $background-2;
$background-image: linear-gradient(
    45deg,
    $primary 25%,
    $background-2 25%,
    $background-2 50%,
    $primary 50%,
    $primary 75%,
    $background-2 75%,
    $background-2
);
$background-size: 8px 8px;
$outset: 0 0 0 transparent;
$outset_primary: 0 0 0 transparent;
$inset: 0 0 0 transparent;
$inset_primary: 0 0 0 transparent;
$outset_margin: 2px;
$border-shadow: 0px 2px 0px $secondary;
$primary-border: 2px solid $primary;
$secondary-border: 2px solid $primary;
