/*Components*/
@mixin h1 {
    font-family: $h1_font;
    font-weight: $h1_weight;
    font-size: $h1_size;
    color: $text !important;
}

@mixin h2 {
    font-family: $h2_font;
    font-weight: $h2_weight;
    font-size: $h2_size;
    color: $text;
}

@mixin h3 {
    font-family: $h3_font;
    font-weight: $h3_weight;
    font-size: $h3_size;
    color: $text;
}

@mixin paragraph {
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    color: $text !important;
}

@mixin subtext {
    font-family: $subtext_font;
    font-weight: $subtext_weight;
    font-size: $subtext_size;
    color: $subtext;
}

@mixin textbox {
    background-color: $background-2;
    border-radius: $secondary-radius;
    border: $secondary-border;
    padding: 5px;
    color: $text;
    font-family: $paragraph_font;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    box-shadow: $inset;
    caret-color: $text;
}

@mixin card {
    background-color: $background-2;
    box-shadow: $border-shadow, $outset;
    border: $primary-border;
    padding: 10px;
    border-radius: $secondary-radius;
    margin-bottom: $outset_margin;
    transition: all $transition;
}

@mixin primary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-image;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
    text-shadow: $text-shadow;
}

@mixin primary-circular-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-width: 42px;
    min-height: 42px;
    background: $background-image;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: 100%;
    text-shadow: $text-shadow;
}

@mixin secondary-circular-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-width: 42px;
    min-height: 42px;
    background: $background-2;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $secondary-border;
    background-size: $background-size;
    border-radius: 100%;
}

@mixin primary-button-hover {
    background-color: $background-2 !important;
}

@mixin primary-button-active {
    background-color: $primary;
}

@mixin secondary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-2 !important;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition !important;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $secondary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
}

@mixin secondary-button-hover {
    background-size: $background-size;
    background-image: $background-image !important;
    text-shadow: $text-shadow;
    box-shadow: $inset, $border-shadow;
}

@mixin secondary-button-active {
    background: $primary;
    box-shadow: $inset_primary;
    background-size: $background-size;
}

/*Navbar and other background*/
#global-nav-bar,
.Root__top-container,
.main-navBar-mainNav {
    background-color: $background;
}

/*svgs*/
.Svg-img-icon-medium,
.Svg-img-icon-small,
.Svg-img-icon-xlarge {
    fill: $text !important;
}

/*Navbar home button*/
.Root__globalNav .main-globalNav-navLink {
    @include secondary-button;
}

.Root__globalNav .main-globalNav-navLink:hover {
    @include secondary-button-hover;
    transform: none;
}

/*Navbar search*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar {
    @include textbox;
}

.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar:hover {
    @include card;
    background-color: $background-3;
}

/*What do you want to play?*/
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar,
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar::placeholder,
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar:placeholder-shown {
    color: $text !important;
    padding-left: calc(var(--encore-layout-margin-looser) / 3);
}

.IYex0sXu8fnCz1FqFbRe {
    background: transparent;
    margin: none;
}

.IYex0sXu8fnCz1FqFbRe kbd {
    border-radius: $secondary-radius;
    border: $primary-border;
    background-color: $background-2;
    outline: none;
    box-shadow: none;
}

.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar:focus {
    background: $background-3;
    box-shadow: none
}

.Vn9yz8P5MjIvDT8c0U6w {
    border-radius: $primary-radius;
}

.MtV402NmdUF5mceSD0Dy {
    @include h1;
}

.IEDOUN3mwwZhHVziC03a,
.IEDOUN3mwwZhHVziC03a,
.SjhDNg4bQRQmIJAba47Z {
    @include card;
    background-color: $background !important;
}

.IEDOUN3mwwZhHVziC03a:hover,
.IEDOUN3mwwZhHVziC03a:hover,
.SjhDNg4bQRQmIJAba47Z:hover {
    background-color: $background-3;
}

.encore-text-title-medium {
    @include h1;
}

.Button-buttonSecondary-small-useBrowserDefaultFocusStyle {
    @include primary-button;
}

.GimJ6fo6WOYPyWNVpSr1 {
    @include card;
}

/*Profile background*/
.main-userWidget-box {
    background-color: $background !important;
}

.main-userWidget-box:hover {
    transform: none;
}

/*Profile*/
.main-avatar-avatar {
    @include primary-button;
    padding-left: calc(16px - $outset_margin);
    padding-right: 14px;
    min-height: 32px;
    margin: 0 !important;
    border-radius: 100%;
}

.main-avatar-avatar:hover {
    @include primary-button-hover;
}

/*Library*/
.main-yourLibraryX-entryPoints {
    @include card;
    padding: 0;
}

.main-useDropTarget-base .main-useDropTarget-track .main-useDropTarget-local .main-useDropTarget-album .main-useDropTarget-artist .CU0fvofmxUbTupSDNOQ3 .main-useDropTarget-playlist .main-useDropTarget-show .main-useDropTarget-folder .main-useDropTarget-pseudoPlaylist .main-yourLibraryX-listItem {
    background-color: $background-2 !important;
}

.rowbutton-sc-xxkq4e-0 .fvljwa {
    background-color: $background-2 !important;
}

.rowbutton-sc-xxkq4e-0 .fvljwa:hover {
    background-color: $background-3 !important;
}

/*Library playlist button*/
.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle {
    @include secondary-button;
}

.Button-buttonTertiary-small-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle:hover {
    @include secondary-button-hover;
}

.Button-buttonTertiary-medium-medium-iconLeading-isUsingKeyboard-useBrowserDefaultFocusStyle-condensed {
    @include primary-button;
}

/*Filter buttons*/
.ChipInnerComponent-sm-isUsingKeyboard {
    @include secondary-button;
}

.ChipInnerComponent-sm-isUsingKeyboard:hover {
    @include secondary-button-hover;
}

.ChipInnerComponent-sm-selected-isUsingKeyboard {
    @include secondary-button-active;
}

.encore-internal-color-text-base {
    color: $text;
}

.encore-internal-color-text-bright-accent {
    color: $primary;
}

.encore-text-body-medium-bold {
    @include h2;
}

/*Now Playing*/
.AAdBM1nhG73supMfnYX7 {
    @include card;
    background-color: $background-3 !important;
}

.main-nowPlayingView-section {
    @include card;
}

.encore-text-body-small-bold {
    @include paragraph;
}

.encore-text-body-small,
.encore-internal-color-text-subdued {
    @include subtext;
}

.encore-text-headline-large,
.main-entityHeader-topbarTitle {
    @include h1;
}

.XVz4BMGP5zAEE5p90mYK,
.main-actionBar-ActionBar {
    background-color: $background-2;
}

.eWZOJQ:hover,
.search-searchCategory-categoryGrid.eRKQSDqbcx0NSAApALFA .bdT2hWuSLE4HMyJ1ziC8>*:hover {
    background-color: $background !important;
    border-radius: $primary-radius;
}

.BoxComponent-group-card-naked-isInteractive-draggable{
    background-color: $background-2;
}

.Box__BoxComponent-sc-y4nds-0 .BoxComponent-group-card-naked-isInteractive-draggable .Box-sc-1njtxi4-0 .Box-group-naked-card-md-isInteractive-draggable main-card-cardContainer:hover{
    background-color: $background-3;
}

/*Play buttons*/
.ButtonInner-large,
.ButtonInner-medium {
    @include primary-circular-button;
}

.Svg-img-icon-large {
    fill: $text;
}

/*Add to playlist svgs*/
.Svg-img-icon-large-textBrightAccent,
.Svg-img-icon-small-textBrightAccent {
    fill: $secondary;
}

.contentSpacing,
.main-topBar-background {
    background-color: $background-2;
}

.hV9v6y_uYwdAsoiOHpzk {
    background: transparent;
}

.main-trackList-trackListHeader {
    border-bottom: $secondary-border !important;
}

.main-trackList-rowSectionIndex,
.main-trackList-rowMarker {
    @include paragraph;
    color: $primary !important;
}

.UudGCx16EmBkuFPllvss a {
    color: $primary !important;
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader,
.main-home-filterChipsContainer {
    background: $background-2 !important;
}

.main-home-filterChipsSection {
    background: transparent;
}

.MGZ4oJmGVPrWsx5cT5hN {
    @include card;
    background-color: $background;
}

.CardTitle__LineClamp-sc-1h38un4-0 .LineClamp {
    @include paragraph;
}

/*Copyright*/
.TypeElement-type-finale {
    color: $primary;
}

a:not([data-encore-id]) {
    color: $text;
}

.Root__main-view {
    @include card;
    padding: 0;
}

/*Spicetify update button*/
.Button-buttonTertiary-medium-medium-iconOnly-disabled-isUsingKeyboard-useBrowserDefaultFocusStyle-condensed {
    color: $primary;
}

.ListRowTitle__LineClamp-sc-1xe2if1-0 {
    @include h1;
}

.encore-text-body-medium,
.encore-text-body-medium-bold {
    @include paragraph;
}

/*Album art*/
.GOcsybnoHYyJGQGDRuwj,
.yMQTWVwLJ5bV8VGiaqU3,
.main-entityHeader-image {
    border-radius: $secondary-radius;
    box-shadow: none;
}

.x-entityImage-image,
.GSgVaqJa8VEp5mKoIN0b {
    border-radius: $secondary-radius;
    background: transparent;
    box-shadow: none;
}

.a2NTH51fJWzWsds0OYv_:after {
    background: linear-gradient(-90deg, $background-2, transparent);
}

.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-draggable {
    @include card;
    background-color: $background;
    padding: 0;
}

.view-homeShortcutsGrid-shortcut {
    margin-bottom: 4px;
    overflow: visible;
}

.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-PlayButtonContainer .view-homeShortcutsGrid-playButton {
    @include primary-circular-button;
}


.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-image,
.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-imageWrapper {
    border-radius: $secondary-radius;
    box-shadow: none;
}

/*Spicetify update stuff*/
.GenericModal__overlay {
    background-color: rgba($background, .7)
}

.main-embedWidgetGenerator-container {
    @include card;
}

.main-type-alto {
    @include h1;
}

#spicetify-update p,
#spicetify-update p a #spicetify-update ol>li {
    @include paragraph;
}

#spicetify-update h3 {
    @include h2;
}

#spicetify-update ol pre {
    @include card;
    color: $text;
    background-color: $background;
    margin-bottom: 10px;
}

.main-trackcreditsmodal-closebtn svg {
    transform: translateY(calc(-1 * ($outset_margin + $outset_margin)));
}

.main-trackCreditsModal-closeBtn {
    @include secondary-circular-button;
    color: $text;
}

#spicetify-update a {
    @include paragraph;
    color: $primary !important;
    text-decoration: underline;
}

#spicetify-update hr {
    border-color: var(--spice-subtext);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#spicetify-update li {
    @include paragraph;
}

#spicetify-update ol>li {
    @include h3;
}

#spicetify-update details summary {
    @include paragraph;
    margin-left: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Q36ugVAb7krhThyRTmJ_ {
    border-radius: $primary-radius;
    border: $primary-border;
}

.YSflHyCWx4tGL7LrqtLE span {
    @include h1;
}

/*Erorr page*/
.main-pageErrorTemplate-errorBody h1 {
    @include h1;
}

.main-pageErrorTemplate-errorBody p {
    @include paragraph();
}

.main-pageErrorTemplate-errorBody button span {
    @include primary-button;
}

.main-pageErrorTemplate-errorBody button span:hover {
    @include primary-button-hover;
}

/*Spicetify marketplace*/
.marketplace-header-icon-button {
    color: $primary;
}

.marketplace-header {
    background-color: $background-2;
}

.main-card-card {
    @include card;
    background-color: $background;
}

.main-card-card:hover {
    background-color: $background-3;
    border-radius: $secondary-radius;
}

.marketplace-card-desc {
    @include paragraph;
}

.marketplace-cardSubHeader {
    @include paragraph;
    color: $primary !important;

}

.main-cardHeader-text {
    @include h2;
    margin-top: 10px;
}

.marketplace-card__authors {
    @include h3;
}

.main-cardImage-imageWrapper,
.main-cardImage-image,
.main-card-imagePlaceholder {
    border-radius: $primary-radius;
    background-color: $background-2;
    box-shadow: none;
}

.button-module__circle___EZ88P_marketplace {
    @include primary-circular-button;
}

.marketplace-card__bottom-meta {
    @include paragraph;
    color: $primary !important;
}

.marketplace-grid .main-card-draggable .main-card-cardMetadata li.marketplace-card__tag {
    @include card;
    background-color: $background;
    padding: 2px;
}