/*Components*/
@mixin h1 {
    font-family: $h1_font;
    font-weight: $h1_weight;
    font-size: $h1_size;
    color: $text;
}

@mixin h2 {
    font-family: $h2_font;
    font-weight: $h2_weight;
    font-size: $h2_size;
    color: $text;
}

@mixin h3 {
    font-family: $h3_font;
    font-weight: $h3_weight;
    font-size: $h3_size;
    color: $text;
}

@mixin paragraph {
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    color: $text;
}

@mixin subtext {
    font-family: $subtext_font;
    font-weight: $subtext_weight;
    font-size: $subtext_size;
    color: $subtext;
}

@mixin textbox {
    background-color: $background-2;
    border-radius: $secondary-radius;
    border: $secondary-border;
    padding: 5px;
    color: $text;
    font-family: $paragraph_font;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    box-shadow: $inset;
    caret-color: $text;
}

@mixin card {
    background-color: $background-2;
    box-shadow: $border-shadow, $outset;
    border: $primary-border;
    padding: 10px;
    border-radius: $secondary-radius;
    margin-bottom: $outset_margin;
    transition: all $transition;
}

@mixin primary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-image;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: background $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
    text-shadow: $text-shadow;
}

@mixin primary-circular-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-width: 42px;
    min-height: 42px;
    background: $background-image;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: background $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: 100%;
    text-shadow: $text-shadow;
}


@mixin primary-button-inactive {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-3;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: background $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $primary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
    text-shadow: $text-shadow;
}

@mixin primary-button-hover {
    background-color: $background-2;
    transition: background $transition;
}

@mixin primary-button-active {
    background-color: $primary;
    transition: background $transition;
}

@mixin secondary-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 42px;
    background: $background-2;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $secondary-border;
    background-size: $background-size;
    border-radius: $primary-radius;
}

@mixin secondary-circular-button {
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-width: 42px;
    min-height: 42px;
    background: $background-2;
    color: $text;
    box-shadow: $outset, $border-shadow;
    font-family: $h2_font;
    transition: all $transition;
    margin-right: $outset_margin;
    margin-left: $outset_margin;
    border: $secondary-border;
    background-size: $background-size;
    border-radius: 100%;
}

@mixin secondary-circular-button-hover {
    background-size: $background-size;
    background-image: $background-image;
    text-shadow: $text-shadow;
    box-shadow: $inset, $border-shadow;
}

@mixin secondary-circular-button-active {
    background: $primary;
    box-shadow: $inset_primary;
    background-size: $background-size;
}

@mixin secondary-button-hover {
    background-size: $background-size;
    background-image: $background-image;
    text-shadow: $text-shadow;
    box-shadow: $inset, $border-shadow;
}

@mixin secondary-button-active {
    background: $primary;
    box-shadow: $inset_primary;
    background-size: $background-size;
}

/* AppLauncher */
.app-launcher {
    min-width: 650px;
    background-image: $background_gradient;
    border-radius: $secondary-radius;
    padding: 0px;
    min-height: 700px;
    border: $primary-border;
    box-shadow: $border-shadow;
}

.app-launcher__input {
    @include textbox;
    margin: 20px;
    padding: 12px 22px;

    icon {
        margin-right: 20px;
    }
}

.app-launcher__list {
    margin: 0 10px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.app-launcher__item {
    @include card;

    label {
        transition: all $transition;

        &.title {
            font-family: $paragraph_font;
            font-size: $paragraph_size;
            font-weight: $paragraph_weight;
            color: $text;
            margin-bottom: 10px;
        }

        &.description {
            font-family: $subtext_font;
            font-size: $subtext_size;
            font-weight: $subtext_weight;
            color: $subtext;
        }
    }

    icon {
        font-size: $h1_size;
        margin-right: 10px;
    }

    &:hover {
        box-shadow: $inset;
        background-color: $background-3;
    }

    &:focus {
        background-color: $primary;
        box-shadow: $inset_primary;
    }

    &:active {
        background-color: $primary;
        box-shadow: $inset_primary;
        border-radius: 100px;
    }
}

/*Common*/

.h1 {
    @include h1;
}

.h2 {
    @include h2;
}

.h3 {
    @include h3;
}

.paragraph {
    @include paragraph;
}

.subtext {
    @include subtext;
}

.card {
    @include card;
}

* {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    transition: all $transition;
}

icon {
    text-shadow: $text-shadow;
    color: $text;
    -gtk-icon-shadow: $text-shadow;
    font-size: $h2_size;
}

image {
    color: red;
}

.icon {
    text-shadow: $text-shadow;
    color: $text;
    -gtk-icon-shadow: $text-shadow;
    font-size: $h2_size;
}

slider {
    border: none;
    outline: none;

    // Check that this is the correct color
    background: $background;
}

separator {
    background: none;
}

window {
    background: none;
}

button {
    background: none;
    border: none;
    box-shadow: none;
}

label {
    box-shadow: none;
}

window.popup {
    >* {
        border: none;
        box-shadow: none;
    }

    menu {
        margin-top: 12px;
        border-radius: 26px;
        // check that this is the correct color
        background-color: $background;
        padding: 10px;

        // separator {
        //     background-color: $border_color;
        // }

        menuitem {
            min-width: 140px;
            padding: 12px 6px;
            color: $text;
            border-radius: 100px;
            transition: background $transition;

            &:hover {
                // check that this is the correct color
                background: $background-2;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

switch {
    border: 2px solid $subtext;
    border-radius: 100px;
    background-color: $background-2;
}

switch slider {
    box-shadow: none;
    border-radius: 100px;
    background-color: $subtext;
}

switch:hover slider,
switch:active slider {
    background-color: $subtext;
}

switch:active {
    background-color: $background-2;
}

switch:checked {
    background-color: $primary;
    border: 2px solid $primary;
}

switch:checked slider {
    background-color: $secondary;
}

/*Components*/

.primary-button {
    @include primary-button;

    &:hover {
        @include primary-button-hover;
    }

    &:active {
        @include primary-button-active;
    }
}

.secondary-button {
    @include secondary-button;

    &:hover {
        @include secondary-button-hover;
    }

    &:active {
        @include secondary-button-active;
    }
}

.primary-circular-button {
    @include primary-circular-button;
}

.primary-button-circular {
    @include primary-button-inactive;
    border-radius: 100%;
    padding: 0;
    min-height: 42px;
    min-width: 42px;

    &.active {
        @include primary-button;
        border-radius: 100%;
        padding: 0;
        min-height: 42px;
        min-width: 42px;
    }
}

.primary-button-inactive {
    @include primary-button-inactive;

    &:hover{
        @include primary-button;
    }

    &:active{
        @include primary-button-active;
    }
}

.material-button {
    border-radius: $primary-radius;
    padding: 3px 15px;

    &:focus {
        box-shadow: 0 0 0 1px $text;
    }

    &.filled {
        background-image: linear-gradient(45deg,
                $primary 25%,
                $background-2 25%,
                $background-2 50%,
                $primary 50%,
                $primary 75%,
                $background-2 75%,
                $background-2 );
        background-size: 8px 8px;
        border: 2px solid $primary;
        box-shadow: 0px 2px 0px 0px $secondary;
        color: $text;
        text-shadow:
            -1.5px -1.5px 0 $background,
            1.5px -1.5px 0 $background,
            -1.5px 1.5px 0 $background,
            1.5px 1.5px 0 $background;

        &:hover,
        &:focus {
            background: $primary;
            background-size: 8px 8px;
            color: $background;
        }

        &:active {
            background: $primary;
            background-size: 8px 8px;
            color: $background;
        }
    }

    &.outlined {
        background: none;
        color: $text;
        border: 2px solid $primary;

        &:hover {
            background-image: linear-gradient(45deg,
                    $primary 25%,
                    $background-2 25%,
                    $background-2 50%,
                    $primary 50%,
                    $primary 75%,
                    $background-2 75%,
                    $background-2 );
            background-size: 8px 8px;
            border: 2px solid $primary;
            box-shadow: 0px 2px 0px 0px $secondary;
            text-shadow:
                -1.5px -1.5px 0 $background,
                1.5px -1.5px 0 $background,
                -1.5px 1.5px 0 $background,
                1.5px 1.5px 0 $background;
        }

        &:focus {
            background: $primary;
        }

        &:active {
            background: $primary;
        }
    }
}

/*Bar*/

.bar {
    min-height: 60px;
    padding: 0 12px;
    background-image: $background_gradient;
    margin: 7px 7px 7px 7px;
    border-radius: $secondary-radius;
    border: $primary-border;
}

.arch-container {
    padding: 10px 0px;
}

.bar__item {
    @include secondary-button;

    &.bar__button {
        &:hover {
            @include secondary-button-hover;
        }

        &:active {
            @include secondary-button-active;
        }

        &.bar__recording-indicator {
            padding: 0;
            min-height: 42px;
            min-width: 42px;
            background: $error;
            color: $text;

            &:hover {
                color: $error;
                background: $text;
            }

            &.spacing {
                label {
                    min-width: 54px;
                    margin-right: 8px;
                }

                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
}

.bar__item.transparent {
    background: transparent;
    color: $text;
}

.bar__item.primary_container {
    background: $background-2;
    color: $text;
}

.bar__workspaces-indicator {
    padding: 0;
    transition: all $transition;

    &.dot {
        min-width: $subtext_size;
        min-height: $subtext_size;
        border-radius: $primary-radius;
        background-color: $background-3;
        box-shadow: $outset;
        border: $primary-border;
        background-size: $background-size;
    }

    &:hover {
        box-shadow: $outset, $border-shadow;
    }

    &:active {
        @include primary-button;
        padding: 0;
        min-height: $paragraph_size;
        min-width: calc($paragraph_size * 2);
    }
}


/* Number mode */
.bar__workspaces-indicator-number {
    min-width: $paragraph_size;
    min-height: $paragraph_size;
    background-color: transparent;
    @include h2;
    transition: all $transition;
}

.bar__workspaces-indicator-number.active {
    @include primary-button;
    min-width: calc($paragraph_size * 1.5);
    min-height: $paragraph_size;
    padding: 0;
    margin: 0;
}

.bar-workspaces {
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}

/* Box around workspaces with windows */
.bar-workspaces-active {
    @include card;
    min-height: calc($paragraph_size * 1.5);
    min-width: calc($paragraph_size * 1.5);
    padding: 0;
    margin: 0;
    background-color: $background;
}

.bar__workspaces-indicator {
    padding: 0;
    transition: all $transition;

    &.dot {
        min-width: $subtext_size;
        min-height: $subtext_size;
        border-radius: $primary-radius;
        background-color: $background-3;
        box-shadow: $outset;
        border: $primary-border;
        background-size: $background-size;
    }

    &:hover {
        box-shadow: $outset, $border-shadow;
    }

    &.active,
    &:active {
        @include primary-button;
        padding: 0;
        min-height: $paragraph_size;
        min-width: calc($paragraph_size * 2);
    }
}

/* Number mode */
.bar__workspaces-indicator-number {
    min-width: $paragraph_size;
    min-height: $paragraph_size;
    background-color: transparent;
    @include h2;
    transition: all $transition;
}

.bar__workspaces-indicator-number.active {
    @include primary-button;
    min-width: calc($paragraph_size * 1.5);
    min-height: $paragraph_size;
    padding: 0;
    margin: 0;
}

/* Box around workspaces with windows */
.bar__workspaces-active {
    @include card;
    min-height: calc($paragraph_size * 1.5);
    min-width: calc($paragraph_size * 1.5);
    padding: 0;
    background-color: $background;
}

.bar__active-app {
    padding-left: 12px;
    padding-right: 16px;

    icon {
        min-width: 20px;
        min-height: 20px;
        font-size: 20px;
    }

    .desktop {
        icon {
            font-size: 14px;
        }
    }
}

.bar__keyboard-layout {
    padding: 0;
    min-height: 42px;
    min-width: 42px;
}

.bar__battery {
    padding-left: 10px;
    padding-right: 10px;
}

.bar__notifications {
    padding-left: 12px;
    padding-right: 10px;
}

.bar__notifications_label {
    font-size: 12px;
    border-radius: 9px;
    min-width: 18px;
    min-height: 18px;
    background: $text;
    color: $background-2;
}

.bar__tray {
    padding-left: 10px;
    padding-right: 10px;
}

.bar__tray-item {
    padding: 0;
    min-width: 22px;
    min-height: 22px;
    background: none;

    &:hover {
        background-color: color.adjust($primary, $alpha: -0.4);
    }

    icon {
        font-size: 18px;
    }
}

/*Control Center*/

.control-center__container {
    @include card;
    background-color: $background;
    min-width: 450px;
    min-height: 800px;
}

.control-center-label-container {
    min-width: 120px;
}

.control-center__settings-container {
    @include card;
}

.control-center__wide-settings-container {
    @include card;
    min-width: 450px;
}

.control-center__page {
    padding: 20px 20px 0px 20px;
}

.control-center__page.main {
    padding: 10px;
}

.control-center__page_scrollable-content {
    margin-bottom: 20px;
}

.control-center__page_header {
    color: $text;
    margin-top: 8px;
    margin-bottom: 24px;

    label {
        font-size: $h1_size;
        font-weight: $h1_weight;
        font-family: $h1_font;
    }
}

.control-center__page_header_button {
    @include primary-button;

    &:hover {
        @include primary-button-hover;
    }
}

.control-center__page_item-header {
    color: $text;
    font-family: $h2_font;
    font-size: $h2_size;
    font-weight: $h2_weight;
    min-height: 80px;
    @include card;
    margin-bottom: 20px;

    label {
        font-size: $h2_size;
        font-weight: $h2_weight;
        font-family: $h2_font;
        margin-left: 16px;
    }
}

.control-center__page_item {
    color: $text;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    font-family: $paragraph_font;
    min-height: 40px;
    @include card;

    label {
        font-size: $paragraph_size;
        font-weight: $paragraph_weight;
        font-family: $paragraph_font;
        color: $text;
        margin-left: 16px;
    }

    &:hover {
        box-shadow: $outset;
    }
}

.control-center__button-icon {
    @include secondary-button;
    border-radius: $tertiary-radius $primary-radius $primary-radius $tertiary-radius;
    margin-left: 2px;

    &:hover {
        @include secondary-button-hover;
    }

    &.active {
        @include secondary-button-active;
    }
}

.control-center__button-wide {
    @include secondary-button;

    &.secondary {
        @include secondary-button;
    }

    &.active {
        @include primary-button-active;

        &:hover {
            @include primary-button-hover;
        }

        &:active {
            @include primary-button-active;
        }
    }

    &:hover {
        @include secondary-button-hover;

    }

    &.no-label {
        padding: 0;
    }

    &.recorder-indicator {
        &.active {
            background: $error;
            color: $text;

            &:hover {
                background: $background-2;
            }

            &:active {
                background: $error;
            }
        }
    }
}

.control-center__button {
    @include secondary-button;
    border-radius: $primary-radius $tertiary-radius $tertiary-radius $primary-radius;
    margin-right: 2px;

    &.secondary {
        @include secondary-button;
    }

    &.active {
        @include primary-button-active;

        &:hover {
            @include primary-button-hover;
        }

        &:active {
            @include primary-button-active;
        }
    }

    &:hover {
        @include secondary-button-hover;

    }

    &.no-label {
        padding: 0;
    }

    &.recorder-indicator {
        &.active {
            background: $error;
            color: $text;

            &:hover {
                background: $background-2;
            }

            &:active {
                background: $error;
            }
        }
    }
}

.control-center__dropdown-menu {
    background: $background;
    border-radius: $secondary-radius;
    padding: 24px;
}

.control-center__dropdown-menu_icon {
    font-size: 20px;
    color: $text;
}

.control-center__dropdown-menu_title {
    font-size: 20px;
    font-weight: 600;
}

.control-center__dropdown-menu_item {
    icon {
        font-size: 16px;
    }

    label {
        font-size: 16px;
    }
}

.control-center-slider-container {
    * {
        padding: 0;
        margin: 0;
        border: none;
    }

}

.control-center-slider-icon {
    color: $text;
    margin-left: 0;
    font-size: $h1_size;
}

.control-center-slider {
    slider {
        min-width: 30px;
        border-radius: 100px;
        background-color: transparent;
        box-shadow: none;
        transition: background-color $transition, color $transition;
    }

    trough {
        border-radius: $primary-radius;
        background-color: red;
        box-shadow: $inset;
        min-height: 15px;
    }

    highlight {
        background: $background-image;
        background-size: $background-size;
        min-width: 15px;
        transition: all $transition;
        border-radius: $primary-radius;
        border: $primary-border;
        box-shadow: $outset_primary;
        padding: 2px 0px;
        margin: -2px 0px;
    }
}

.control-center-slider trough {
    border-radius: $primary-radius;
    background-color: $background-3;

    box-shadow: $inset;
    min-height: 15px;
}

.muted {
    .control-center__volume-slider {
        highlight {
            background-color: $background;
        }
    }

    .control-center__slider-icon {
        color: $text;
    }
}

.control-center__time-to-empty {
    color: $text;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    font-family: $paragraph_font;
}

.control-center__settings-button,
.control-center__powermenu-button {
    @include secondary-button;
    padding: 10px;
    min-height: 0;
}

.control-center__settings-button,
.control-center__powermenu-button {
    &:hover {
        @include secondary-button-hover;
    }
}

.control-center__footer {
    margin: 10px 8px;
}

/*Dashboard*/

.dashboard {
    @include card;
}

.block {
    padding: 20px;
    font-family: $paragraph_font;
    margin-bottom: $outset_margin;
    margin-right: $outset_margin;
    background: transparent;
}

.placeholder {
    // color: $outline;
    color: red;

    label {
        font-size: 18px;
    }
}

.calendar__header {
    margin-top: 12px;
    padding: 10px;
    font-family: $h1_font;
    font-size: $h1_size;
    font-weight: $h1_weight;
}

.calendar__monthyear {
    * {
        font-size: $h1_size;
        font-weight: $h1_weight;
        font-family: $h1_font;
        color: $text;
    }
}

.calendar__weekdays {
    color: $text;
    color: red;
    font-size: 100px;
}

.calendar__days {
    color: $text;
    font-size: 100px;
}

.calendar__button {
    padding: 10px 12px;
}

.calendar__button__today {
    @include primary-button;
    font-size: 100px;
    padding: 10px;
    min-height: 0;
}

.calendar__button {
    color: $text;
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    font-size: 100px;
}

.calendar__button__other-month {
    color: $subtext;
    font-family: $subtext_font;
    font-size: $subtext_size;
    font-weight: $subtext_weight;
    font-size: 100px;
}

.calendar__weekday {
    min-height: 40px;
    min-width: 36px;
}

.calendar__day {
    border-radius: 100px;
    min-height: 40px;
    min-width: 40px;

    &.active {
        background: $primary;
    }

    &.inactive {
        color: $background;
    }
}

/*Notification*/

.notification {
    @include card;
    padding: 14px 16px 14px 20px;
    margin-right: $outset_margin;
}

.notification__icon {
    min-height: $h1_size;
    min-width: $h1_size;
    margin-right: 14px;
    border-radius: $primary-radius;
    background: $background-2;
    box-shadow: $inset;
    border: $primary-border;
}

.notification__icon.telegram {
    margin-top: 8px;
}

.notification__title {
    font-size: $h1_size;
    font-weight: $h1_weight;
    font-family: $h1_font;
    color: $text;
}

.notification__header {
    margin-top: 6px;
    margin-bottom: 10px;
    font-family: $h2_font;
    font-weight: $h2_weight;
    font-size: $h2_size;
    color: $text;
}

.notification__app-name,
.notification__dot,
.notification__time {
    color: $subtext;
    font-size: $subtext_size;
    font-weight: $subtext_weight;
    font-family: $subtext_font;
}

.notification__description {
    margin-bottom: 8px;
    color: $subtext;
    font-size: $subtext_size;
    font-weight: $subtext_weight;
    font-family: $subtext_font;
}

.notification__actions {
    margin-top: 8px;
}

.notification__action {
    background: none;
    transition: color $transition;
    color: $primary;
    border-radius: 100px;

    &:hover {
        color: $text;
        transition: color $transition;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.notification__close-button {
    @include secondary-button;

    &:hover {
        @include secondary-button-hover;
    }
}

/*NotificationsPopup*/

.NotificationsPopup {
    background: none;
}

.notifications-popup {
    min-width: 450px;
}

/*NotificationsWindow*/

.notifications-window {
    @include card;
    background: $background;
    min-width: 400px;
    min-height: 550px;
    margin-right: $outset_margin;

    .notification {
        border-radius: 4px;
        transition: border-radius $transition;
        background-color: $background-2;
        box-shadow: 0px 2px 0px 0px $secondary;
    }
}

.notifications-window__clear {
    @include primary-button;
}

.notifications-window__clear:hover {
    @include primary-button-hover;
}

.notifications-window__list {
    revealer {
        .notification {
            border-radius: $secondary-radius;
        }
    }

    revealer:last-child {
        .notification {
            margin-bottom: 10px;
        }
    }
}

/*OSD*/

.OSD,
.osd {
    background: transparent;

    icon {
        font-size: 35px;
        margin-left: 25px;
    }
}

.container {
    @include card;
    background: $background;
    margin-bottom: 20px;
}

.indicator .progress {
    border-radius: $primary-radius;
    background-color: $background-3;
    box-shadow: $inset;
    margin: 25px;
    padding: 0px;

    .fill {
        @include primary-button;
        min-height: 10px;
        padding: 2px 0px;
        margin: -2px 0px;

        &.muted {
            background-color: $background;
            color: $text;
        }
    }
}

/*Player*/

.player {
    min-height: 155px;
    background: $background;
    border: $primary-border;
    padding: 20px 10px;
    border-radius: $secondary-radius;
    background-size: cover;
    background-position: center;
    transition: background 0.5s $transition;
}

.player__icon {
    font-size: 20px;
}

.player__box {
    background-color: transparent;
    padding: 0;
    border-radius: $secondary-radius;
    border: $primary-border;
}

.player__title {
    font-weight: $h1_weight;
    font-size: $h1_size;
    font-family: $h1_font;
    color: $text;
    padding-right: 18px;
}

.player__artist {
    padding-right: 18px;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
    font-family: $paragraph_font;
    color: $text;
    padding-top: 10px;
}

.player__playpause {
    min-width: 60px;
    min-height: 60px;
    padding: 0;
    background-color: $primary;
    color: $text;
    font-size: $h1_size;
    border-radius: 0px;
    border: $primary-border;
    transition: all $transition;
    border-radius: $primary-radius;
    box-shadow: $outset_primary;

    &.active {
        box-shadow: $inset_primary;
    }
}

.player__next,
.player__previous {
    background: none;
}

.player__title-box {
    animation: slide-back 0.3s cubic-bezier(0.05, 0.7, 0.1, 1);

    &.dissappear {
        animation: slide 0.3s cubic-bezier(0.3, 0, 0.8, 0.15);
    }
}

.player__position-slider {
    trough {
        transition: all $transition;
        border-radius: $secondary-radius;
        background-color: $background-3;
        box-shadow: $inset;

        highlight {
            @include primary-button;
            min-width: 15px;
            min-height: 10px;
            padding: 2px 0px;
            margin: -2px 0px;
        }

        slider {
            min-width: 30px;
            border-radius: 100px;
            background-color: transparent;
            box-shadow: none;
        }
    }
}

.player__indicator {
    min-width: 8px;
    min-height: 8px;
    background: $background;
    border-radius: 100px;
    margin-bottom: 8px;
    transition: all $transition;

    &.selected {
        background: $text;
    }
}

@keyframes slide {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: -100px;
        opacity: 0;
    }
}

@keyframes slide-back {
    from {
        margin-left: 100px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

/*PopupMenu*/

.PopupMenu {
    background: none;
}

.popup-menu {
    @include card;
    background: $background_gradient;
    min-height: 400px;

    &.sink {
        min-width: 350px;
    }

    &.mixer {
        min-width: 500px;
    }

    &.keybinds {
        min-width: 600px;
    }
}

.profiles {
    min-height: 270px;
}

.popup-menu__header {
    margin: 30px 16px;
    margin-bottom: 0px;

    label {
        font-size: $h1_size;
        font-weight: $h1_weight;
        font-family: $h1_font;
        color: $text;
    }
}

.popup-menu__content {
    >*>* {
        background: none;
    }
}

.popup-menu__item {
    background: none;
    padding: 18px;
    color: $text;
    border-radius: 100px;
    transition: background $transition;

    label {
        font-size: 14px;
        font-weight: 500;
    }

    icon {
        margin-right: 16px;
    }

    &:hover {
        background-color: $background-2;
    }

    &:last-child {
        margin-bottom: 20px;
    }
}

.mixer__item {
    icon {
        font-size: 32px;
        margin-right: 0px;
    }

    padding: 10px;

    &:hover {
        background: none;
    }
}

// .mixer__tooltip {
// background: $background-2;
// border-radius: 100px;
// }

.mixer__slider {
    padding: 0;
    margin: 0;

    trough {
        margin-top: 6px;
        border-radius: 100px;
        background-color: $background;
        min-height: 14px;

        highlight,
        progress {
            border-radius: 100px;
            background-color: $primary;
            border-radius: 100px;
        }

        slider {
            border-radius: 100px;
            min-height: 14px;
            min-width: 14px;
            background-color: transparent;
            box-shadow: none;
        }
    }
}

.mixer__value {
    background: $background-2;
    border-radius: 100px;
    min-width: 56px;
}

.bluetooth__percentage {
    background: $background-2;
    color: $text;
    border-radius: 100px;
    padding: 0px 12px;
    margin-left: 12px;
    border: 2px solid $primary;
}

.mixer-placeholder {
    margin-top: -50px;

    label {
        font-size: $h2_size;
        font-family: $h2_font;
        font-weight: $h2_weight;
    }
}

/*PowerMenu*/

.powermenu {
    @include card;
    padding: 20px;
}

.powermenu-button {
    @include secondary-button;
}

.powermenu__button_icon {
    font-size: 35px;
}

.powermenu__button {
    @include secondary-button;
    min-width: 100px;
    min-height: 100px;

    &:hover,
    &:focus {
        @include secondary-button-hover;
    }

    &:active {
        @include secondary-button-active;
    }
}

.powermenu__label {
    font-size: $h2_size;
    font-weight: $h2_weight;
    font-family: $h2_font;
    margin-top: 25px;
    color: $text;
}

.verification {
    @include card;
    min-width: 300px;
    padding: 20px;
}

.verification__title {
    font-size: $h2_size;
    font-weight: $h2_weight;
    font-family: $h2_font;
    color: $text;
}

.verification__description {
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    font-family: $paragraph_font;
    color: $text;
}

/*Scrim*/

.transparent-scrim {
    background: transparent;
}

.scrim {
    background: color.adjust($scrim, $alpha: -0.5);
}

/*ThemeSettings*/

.buttons-container {
    min-width: 360px;
    padding: 20px;
}

.mode-settings__button_left {
    @include secondary-button;
    margin-right: 10px;
    min-width: 160px;
    padding-left: 0;
    padding-right: 0;

    &.hover {
        @include secondary-button-hover;
    }

    &.active {
        @include primary-button;
        margin-right: 10px;
        min-width: 160px;
        padding-left: 0;
        padding-right: 0;
    }
}

.mode-settings__button_right {
    @include secondary-button;
    margin-left: 10px;
    min-width: 160px;
    padding-left: 0;
    padding-right: 0;

    &:hover {
        @include secondary-button-hover;
    }

    &.active {
        @include primary-button;
        margin-left: 10px;
        min-width: 160px;
        padding-left: 0;
        padding-right: 0;
    }
}

.theme {
    font-family: $h1_font;
    font-size: $h1_size;
    font-weight: $h1_weight;
    color: $text;
    padding: 7px;
}

.theme-buttons {
    @include secondary-button;
    min-width: 75px;
    padding: 0;

    &:hover {
        @include secondary-button-hover;
    }

    &.active {
        @include secondary-button-active;
    }
}

.label {
    font-family: $paragraph_font;
    color: $text;
    font-size: $paragraph_size;
    font-weight: $paragraph_weight;
    padding-top: 15px;
}

.switches-container {
    min-width: 60px;
    padding: 20px;
}

.wallpaper-thumbnails-container {
    min-width: 360px;
    padding: 20px
}

.thumbnail-box {
    border-radius: $secondary-radius;
    margin: 10px;
}

.workspace-container {
    @include card;
    background-color: $background;
}

.workspace-button {
    @include secondary-circular-button;
    min-width: calc($paragraph_size * 1.5);
    min-height: calc($paragraph_size * 1.5);

    &:hover {
        @include secondary-circular-button-hover;
    }
}

.advanced-container {
    @include card;
    min-width: 360px;
    padding: 20px;
}

.setting-box {
    min-width: 360px;
    padding: 20px 0;
}

.add-icon-button {
    @include secondary-circular-button;
    background-color: $background;

    &:hover {
        @include secondary-circular-button-hover;
    }

    :active {
        @include secondary-circular-button-active;
    }
}


.add-icon-form {
    @include card;
    background-color: $background;
    min-width: 320px;
    transition: all $transition;
}

.workspace-number-entry,
.icon-entry {
    @include textbox;
}

.submit-button {
    @include primary-button;

    &:hover {
        @include primary-button-hover;
    }

    &:active {
        @include primary-button-active;
    }
}

.cancel-button {
    @include secondary-button;

    &:hover {
        @include secondary-button-hover;
    }

    &:active {
        @include secondary-button-active;
    }
}

.icon-card {
    @include card;
    // min-width: 320px;
}

.delete-button-hidden {
    @include primary-button;
    opacity: 0;

    &:hover{
        @include primary-button-hover;
        opacity: 1;
    }
}

.delete-button-visible {
    @include primary-button;
    opacity: 1;
}

/*Weather*/

.weather-window {
    @include card;
    padding: 20px;
    background: $background;
}

.temperature {
    font-size: 40px;
    font-family: $h1_font;
    font-weight: $h1_weight;
    color: $text;
}

.location_input {
    @include textbox;
}

.location {
    font-family: $h1_font;
    font-weight: $h1_weight;
    font-size: $h1_size;
    color: $text;
    margin-bottom: 15px;
}

.location-header-container {
    min-width: 300px;
}

.weather-info-title {
    color: $text;
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
    font-size: $paragraph_size;
}

.weather-info {
    color: $subtext;
    font-family: $subtext_font;
    font-size: $subtext_size;
    font-weight: $subtext_weight;
}

/*SideBar*/
.sidebar-window {
    background: $background_gradient;
    min-height: 900px;
    min-width: 300px;
    border-radius: $secondary-radius;
    border: $primary-border;
    padding: 20px;
    color: $text;
}

.sidebar-prompt-container {
    min-width: 300px;
}

.sidebar-prompt-example {
    @include card;
    padding: 10px;
    margin-bottom: 20px;
}

.gemini-header-container {
    min-width: 300px;
}

.gemini {
    font-family: $h1_font;
    font-weight: $h1_weight;
    font-size: $h1_size;
    margin-bottom: 300px;
}

.greeting {
    font-size: 40px;
    font-family: $h1_font;
    font-weight: $h1_weight;
    margin-bottom: 350px;
}

.user-message {
    @include card;
    font-size: $paragraph_size;
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
}

.ollama-message {
    @include card;
    background-color: $background-3;
    font-size: $paragraph_size;
    font-family: $paragraph_font;
    font-weight: $paragraph_weight;
}

.model-buttons {
    background-color: $background-2;
    border-radius: $primary-radius;
    margin: 0;
}

.model-button {
    @include secondary-circular-button;
    border-radius: $primary-radius;
    margin: 0;

    &:hover {
        @include secondary-button-hover;
    }

    &:active {
        @include secondary-button-active;
    }

    &.active {
        @include primary-circular-button;
        border-radius: $primary-radius;
        margin: 0;

        &:hover {
            @include primary-button-hover;
        }

        &:active {
            @include primary-button-active;
        }
    }
}

.message-sender {
    @include h3;
}

.chat-container {
    min-height: 200px;
}

.message-text {
    @include paragraph;
}

.message-time {
    @include subtext;
}

.message-input {
    @include textbox;
    min-width: 0;
    /* Allows proper shrinking if needed */
    min-height: 32px;
    /* Minimum height */
    padding: 8px;
    /* Comfortable padding */
    transition: height 0.2s ease;
    /* Smooth height expansion */
}

.message-input.expanded {
    /* No need to set explicit height here as it will grow naturally */
}

.message-input textview {
    background: transparent;
    border: none;
    padding: 0;
}

.keybinds-cheatsheet {
    @include card;
    background-color: $background;
}

.shortcut-box {
    @include card;
    margin-bottom: 10px;
}

// .keys-container {
//     justify-content: center;
// }

.key-icon {
    background-color: $background-3;
    border: $secondary-border;
    border-radius: $secondary-radius;
    padding: 5px 7px;
    color: $text;
}

.key-text {
    font-family: monospace;
    font-size: 12px;
}

.description {
    font-size: 11px;
    color: #666;
    // text-align: center;
}












.wallpaper-thumbnails-container {
    transition: all 0.2s ease-out;
}

.thumbnail-box {
    margin: 4px;
    border-radius: 8px;
}

.load-more-button {
    margin: 8px;
    padding: 8px;
}