/* Fonts */
$monospace_font: "Monospace Neon";
$h1_font: "Open sans";
$h2_font: "Open sans";
$h3_font: "Open sans";
$paragraph_font: "Open sans";
$subtext_font: "Open sans";
$monospace_weight: normal;
$h1_weight: normal;
$h2_weight: normal;
$h3_weight: bold;
$paragraph_weight: 300;
$subtext_weight: 100;
$monospace_size: 14px;
$h1_size: 24px;
$h2_size: 18px;
$h3_size: 16px;
$paragraph_size: 14px;
$subtext_size: 11px;

/* General */
$transition: 0.2s cubic-bezier(0.85, 0, 0.15, 1);
$primary-radius: 20px;
$secondary-radius: 10px;
$tertiary-radius: 8px;
$background_gradient: linear-gradient(145deg, $background-2, $background);
$text-shadow: none;
$background-image: linear-gradient(
    45deg,
    $primary 25%,
    $primary 25%,
    $primary 50%,
    $primary 50%,
    $primary 75%,
    $primary 75%,
    $primary
);
$background-size: 8px 8px;
$outset:
    0px -3px 5px $highlight,
    0px 3px 5px $shadow;
$outset_primary:
    inset 0px 1px 2px $highlight_primary,
    inset 0px -1px 2px $shadow_primary,
    0px -3px 5px $highlight,
    0px 3px 5px $shadow;
$inset:
    inset 0px 3px 5px $shadow,
    inset 0px -5px 3px $highlight;
$inset_primary:
    inset 0px 3px 5px $shadow_primary,
    inset 0px -5px 3px $highlight_primary;
$outset_margin: 5px;
$border-shadow: 0 0 0 transparent;
$primary-border: none;
$secondary-border: none;
