@use "sass:color";

/* Colors */
$background: #e2e4e97c;
/* background: hsl(218, 15%, 90%)*/
$background-trans: #e2e4e910;
$background-2: #ECEDEE4f;
/* card: hsl(0, 5%, 93%)*/
$background-3: #F4F6FB4f;
/* background-light: hsl(218, 50%, 97%)*/
$primary: #6E9BE7;
/* primary: hsl(218, 72%, 67%)*/
$secondary: #E76EAB;
/* secondary: hsl(330, 72%, 67%)*/
$text: #233885;
/* text: hsl(227, 58%, 33%)*/
$subtext: #667199;
/* subtext: hsl(227, 20%, 50%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff;
$shadow: #999999;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/



@import "../glaciara.scss";
@import "../style.scss";
