@use "sass:color";

/* Colors */
$background: #F4ECF2;
/* background: hsl(311, 25%, 94%)*/
$background-trans: #ECDFEA;
$background-2: #ECDFEA;
/* card: hsl(311, 25%, 90%)*/
$background-3: #F5F9F8;
/* background-light: hsl(165, 25%, 97%)*/
$primary: #d161bd;
/* primary: hsl(311, 55%, 60%)*/
$secondary: #1ED2A5;
/* secondary: hsl(165, 75%, 47%)*/
$text: #561049;
/* text: hsl(311, 69%, 20%)*/
$subtext: #76516F;
/* subtext: hsl(27, 19%, 39%)*/
$error: #e99898;
$scrim: #000000;
$highlight: #ffffff;
$shadow: #999999;
$highlight_primary: #5eff4c;
/* highlight_primary: hsl(114, 85%, 57%)*/
$shadow_primary: #0e974a;
/* shadow_primary: hsl(114, 85%, 13%)*/
/*Difference between hue of Primary and Secondary is 112*/

@import "../verdant.scss";
@import "../spicetify.scss";
